# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# API Keys
.env

# [중요] Firebase 및 Google 설정 파일 (공개되면 안 됨)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
ios/Runner/Secrets.swift
macos/Runner/GoogleService-Info.plist
ios/Runner/AppDelegate.swift
ios/Runner/Secrets.swift
lib/firebase_options.dart
# 기타 시스템 파일
.DS_Store
.idea/
*.iml

# 1. 데이터 파이프라인 폴더 전체 제외
data_pipeline/
autokaji/data_pipeline/

# 2. 민감한 보안 파일
serviceAccountKey.json
*.env

# 3. 크롤링 결과물 및 임시 파일
*.csv
__pycache__/
*.pyc
.DS_Store